@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.effects__title {
  font-family: Unbounded;
  font-size: 44px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  color: #000000;
  padding-top: 120px;
  margin-bottom: 80px;
}

.effects__header {
  margin-top: 120px;
  margin-bottom: 80px;
}

.effects__header-title {
  font-family: Unbounded;
  font-size: 44px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  margin-bottom: 24px;
}

.effects__header-subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
}

.effects__subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: center;
  color: #000000;
  padding-top: 24px;
  display: block;
}

.bg-gray {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 120px;
}

.link {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
}

.solutions-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50% - 10px) 108px 1fr;
  grid-template-columns: calc(50% - 10px) 108px 1fr;
  -ms-grid-rows: (560px)[3];
  grid-template-rows: repeat(3, 560px);
  gap: 20px;
}

.solutions-grid-item {
  padding: 64px 44px;
  border-radius: 44px;
  background-color: #f5f5f5;
  position: relative;
  cursor: url("/files/eye-preview.gif"), auto;
}

.solutions-grid-item:nth-child(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.solutions-grid-item:nth-child(4) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

.solutions-grid-item:nth-child(6) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

.first-item {
  background: #e8ecf5;
  padding: 80px 64px;
}

.solutions-grid-text {
  font-family: Unbounded;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
}

.br-mob {
  display: none;
}

.br-mob1 {
  display: none;
}

.solutions-grid-group {
  display: none;
}

.solutions-grid-img {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 44px 44px 0;
  height: 100%;
}

.solutions-grid-img:first-child {
  position: absolute;
  bottom: 0;
  left: -48px;
  border-radius: 0;
  -webkit-transform: scale(0.9183673469) translateY(17px);
      -ms-transform: scale(0.9183673469) translateY(17px);
          transform: scale(0.9183673469) translateY(17px);
}

.solutions-grid-img3 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 44px 44px 0;
}

.solutions-grid-img5,
.solutions-grid-img6 {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.solutions-grid-img_mob {
  display: none;
}

.solutions-grid-gradient {
  position: absolute;
  left: 365px;
}

.solutions-grid-img-container1 {
  position: relative;
  height: calc(100% - 20px);
}

.solutions-grid-img-container1 img {
  position: absolute;
  bottom: 0;
  left: 95px;
}

.solutions-grid-img-container2 {
  position: relative;
  height: calc(100% - 20px);
}

.solutions-grid-img-container2 img:nth-child(1) {
  position: absolute;
  height: unset;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  bottom: -33px;
  top: unset;
}

.found {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.found__item {
  padding: 64px;
  border-radius: 44px;
  background-color: #f5f5f5;
  height: 500px;
  position: relative;
}

.found__item-title {
  margin-top: 40px;
  font-family: Unbounded;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  display: block;
  max-width: 394px;
}

.found__item-text {
  margin-top: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

.found__svg {
  position: absolute;
  top: 64px;
  right: 64px;
}

.benefits p {
  margin-bottom: 0;
  color: #ffffff;
}

.benefits-title {
  font-family: Unbounded;
  font-size: 44px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

.benefits__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 128px;
}

.benefits__column1 p {
  max-width: 387px;
}

.benefits__item {
  margin: 36px 0 72px;
}

.benefits__huge-text {
  font-family: Unbounded;
  font-size: 72px;
  font-weight: 800;
  line-height: 90px;
  position: relative;
}

.benefits__huge-text .w-300 {
  font-family: Unbounded;
  font-size: 72px;
  font-weight: 300;
  line-height: 90px;
}

.benefits__huge-text .plus {
  display: block;
  position: absolute;
  top: 0;
  left: 200px;
  font-family: Unbounded;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
}

.benefits__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
}

.benefits__column2 {
  padding-left: 80px;
}

.benefits__list-item {
  padding: 40px 0;
}

.benefits__list-item:not(:last-child) {
  border-bottom: 1px solid #606368;
}

.benefits__subtitle-text {
  font-family: Unbounded;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  margin-bottom: 24px !important;
}

.benefits__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

.form-block {
  padding: 78px 40px 82px 40px;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.1019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-text {
  font-family: Unbounded;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
  display: block;
  max-width: 550px;
  margin-top: 0;
}

.form-img {
  position: absolute;
  right: 25%;
}

.form-btn {
  height: 56px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.slider-item {
  width: 492px;
  padding: 44px;
  border-radius: 60px;
  background: #f5f5f5;
  position: relative;
  padding-bottom: 419px;
}

/* Ограничивающая оболочка */

.slick-list {
  position: relative;
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.slick-arrow {
  color: transparent;
  display: block;
  line-height: 0;
  font-size: 0;
  width: 56px;
  height: 56px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  border-radius: 50%;
}

.slick-arrow:focus {
  outline: 1px dotted;
}

.slick-next {
  position: absolute;
  top: -168px;
  right: 0;
}

.slick-prev {
  position: absolute;
  top: -168px;
  right: 68px;
}

.slick-prev::after {
  content: url("/img/arrowPrev.svg");
}

.slick-next::after {
  content: url("/img/arrowNext.svg");
}

.slider-item-badge {
  padding: 6px 12px;
  border-radius: 40px;
  background-color: #ffffff;
  width: 147px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.slider-item-digits {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #969696;
}

.slider-item-digits span {
  margin-right: 24px;
}

.slider-item-digits img {
  margin-right: 8px;
}

.slider-item-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  margin-bottom: 12px;
}

.slider-item-title {
  font-family: Unbounded;
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
  text-align: left;
  margin-bottom: 16px;
}

.slider-item-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.lottie {
  display: none;
}

.article-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  width: 145px;
  border-radius: 40px;
  padding: 8px 12px 10px 20px;
  background: #f1633d;
  margin-top: 80px;
  cursor: pointer;
}

.article-btn p {
  margin-bottom: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  margin-right: 8px;
}

.card__body {
  padding: 0 !important;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
  width: 100%;
}

.bg-gray {
  overflow: hidden;
}

.bg-black {
  background-color: #242529;
  border-radius: 120px;
  margin-top: 120px;
  padding: 120px 80px;
}

#cursor {
  position: fixed;
  width: 180px;
  height: 180px;
  background-color: #f1633d;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  display: none;
}

#cursor svg {
  width: 44px !important;
  -webkit-transform: translate3d(68px, -21px, 0px) !important;
          transform: translate3d(68px, -21px, 0px) !important;
}

#cursor::after {
  content: "Смотреть";
  font-family: Unbounded;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 95px;
}

.oh {
  overflow: hidden;
}

.mt-48 {
  margin-top: 48px;
}

@media (min-width: 599.98px) {
  .container {
    max-width: 520px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 892px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1060px;
  }
}

@media (min-width: 1599.98px) {
  .container {
    max-width: 1516px;
  }
}

@media (max-width: 1599.98px) {
  .effects__title {
    font-size: 36px;
    line-height: 48px;
    padding-top: 80px;
  }

  .effects__subtitle {
    font-size: 20px;
    line-height: 24.2px;
    padding-top: 16px;
  }

  .effects__header {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .effects__header-title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .effects__header-subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .bg-gray {
    padding-bottom: 80px;
  }

  .link {
    margin-top: 40px;
  }

  .solutions-grid {
    -ms-grid-columns: calc(50% - 10px) 70px 1fr;
    grid-template-columns: calc(50% - 10px) 70px 1fr;
    -ms-grid-rows: (404px)[3];
    grid-template-rows: repeat(3, 404px);
  }

  .solutions-grid-item {
    padding: 44px 40px;
    overflow: hidden;
  }

  .first-item {
    padding: 44px 40px;
  }

  .solutions-grid-gradient {
    left: 247px;
  }

  .solutions-grid-text {
    font-size: 24px;
    line-height: 32px;
  }

  .solutions-grid-img:first-child {
    left: -45px;
    -webkit-transform: scale(0.88) translateY(17px);
        -ms-transform: scale(0.88) translateY(17px);
            transform: scale(0.88) translateY(17px);
  }

  .br-mob {
    display: block;
  }

  .solutions-grid-img-container1 {
    position: relative;
    height: calc(100% - 34px);
  }

  .solutions-grid-img-container1 img {
    position: absolute;
    bottom: 0px;
    left: 54px;
  }

  .solutions-grid-img3 {
    position: absolute;
    height: 240px;
  }

  .solutions-grid-img-container2 img:nth-child(1) {
    height: 381px;
    bottom: -17px;
    left: -36px;
  }

  .solutions-grid-img5,
  .solutions-grid-img6 {
    -webkit-transform: translateX(-50%) scale(0.6826347305);
        -ms-transform: translateX(-50%) scale(0.6826347305);
            transform: translateX(-50%) scale(0.6826347305);
  }

  .solutions-grid-img5 {
    bottom: -62px;
  }

  .solutions-grid-img6 {
    bottom: -55px;
  }

  .found__item {
    padding: 44px 40px;
    height: 434px;
  }

  .found__item-title {
    font-size: 24px;
    line-height: 32px;
    max-width: 335px;
  }

  .found__item-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
  }

  .found__svg {
    display: none;
  }

  .bg-black {
    border-radius: 80px !important;
    margin-top: 120px !important;
    padding: 80px 70px !important;
  }

  .slider-item {
    width: 430px;
    padding: 44px 40px;
    border-radius: 44px;
    padding-bottom: 425px;
  }

  .slider-item-badge {
    padding: 6px 12px;
    border-radius: 40px;
    width: 130px;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0.4px;
    margin-bottom: 18px;
  }

  .slider-item-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .slider-item-title {
    font-family: Unbounded;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .article-btn {
    margin-top: 40px;
  }

  .slick-next {
    top: -118px;
  }

  .slick-prev {
    top: -118px;
  }

  #cursor {
    -webkit-transform: scale(0.7777777778);
        -ms-transform: scale(0.7777777778);
            transform: scale(0.7777777778);
  }
}

@media (max-width: 1199.98px) {
  .effects__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  .effects__subtitle {
    font-size: 16px;
    line-height: 19.36px;
    padding-top: 16px;
  }

  .effects__header {
    margin-top: 80px;
    margin-bottom: 42px;
  }

  .effects__header-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  .effects__header-subtitle {
    font-size: 14px;
    line-height: 18px;
  }

  .effects-br-2 {
    display: none;
  }

  .solutions-grid {
    -ms-grid-columns: calc(50% - 10px) 56px 1fr;
    grid-template-columns: calc(50% - 10px) 56px 1fr;
  }

  .first-item {
    overflow: hidden;
  }

  .solutions-grid-gradient {
    left: 247px;
  }

  .solutions-grid-text {
    font-size: 20px;
    line-height: 26px;
  }

  .solutions-grid-img {
    right: -92px;
  }

  .solutions-grid-img:first-child {
    left: -74px;
  }

  .solutions-grid-img-container1 {
    height: calc(100% - 34px);
    -webkit-transform: translateY(12px);
        -ms-transform: translateY(12px);
            transform: translateY(12px);
  }

  .solutions-grid-img-container1 img {
    left: 24px;
  }

  .solutions-grid-img3 {
    display: none;
  }

  .solutions-grid-img_mob {
    display: block;
  }

  .solutions-grid-img-container2 img:nth-child(1) {
    height: 366px;
    bottom: -23px;
    left: -58px;
  }

  .solutions-grid-img5,
  .solutions-grid-img6 {
    -webkit-transform: translateX(-50%) scale(0.7664670659);
        -ms-transform: translateX(-50%) scale(0.7664670659);
            transform: translateX(-50%) scale(0.7664670659);
  }

  .solutions-grid-img5 {
    bottom: -72px;
  }

  .solutions-grid-img6 {
    bottom: -40px;
  }

  .found__item {
    height: 410px;
  }

  .found__item-title {
    font-size: 20px;
    line-height: 26px;
    max-width: 275px;
  }

  .found__item-text {
    font-size: 14px;
    line-height: 18px;
  }

  .bg-black {
    border-radius: 80px !important;
    margin-top: 80px !important;
    padding: 80px 50px !important;
  }

  .slider-item {
    width: 360px;
    padding-bottom: 327px;
  }

  .slider-item-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .slider-item-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .slider-item-digits {
    font-size: 14px;
    line-height: 18px;
  }

  .slider-item-digits span {
    margin-right: 16px;
  }

  .slider-item-digits img {
    margin-right: 6px;
  }

  .slick-next {
    top: -104px;
  }

  .slick-prev {
    top: -104px;
  }
}

@media (max-width: 991.98px) {
  .solutions-grid {
    -ms-grid-columns: 518px;
    grid-template-columns: 518px;
    -ms-grid-rows: (404px)[6];
    grid-template-rows: repeat(6, 404px);
    gap: 12px;
  }

  .solutions-grid-item:nth-child(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .solutions-grid-item:nth-child(4) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .solutions-grid-item:nth-child(6) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .solutions-grid-img {
    right: -92px;
  }

  .solutions-grid-img:first-child {
    left: 44px;
  }

  .solutions-grid-img-container1 {
    left: -40px;
    -webkit-transform: translateY(25px);
        -ms-transform: translateY(25px);
            transform: translateY(25px);
  }

  .solutions-grid-img-container1 img {
    left: 144px;
  }

  .solutions-grid-img3 {
    display: block;
  }

  .solutions-grid-img_mob {
    display: none;
  }

  .br-mob1 {
    display: block;
  }

  .br-mob2 {
    display: none;
  }

  .solutions-grid-img-container2 img:nth-child(1) {
    left: -20px;
  }

  .found {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bg-black {
    border-radius: 64px !important;
    margin-top: 80px !important;
    padding: 80px 40px !important;
  }

  .article-btn {
    margin-top: 0px;
  }

  .lottie {
    display: block;
  }

  .slick-next {
    display: none !important;
  }

  .slick-prev {
    display: none !important;
  }
}

@media (max-width: 599.98px) {
  .effects__title {
    padding-top: 120px;
    margin-bottom: 80px;
  }

  .row {
    margin-left: 0;
  }

  .solutions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .solutions-grid {
    -ms-grid-columns: 328px;
    grid-template-columns: 328px;
    -ms-grid-rows: (440px)[6];
    grid-template-rows: repeat(6, 440px);
    gap: 14px;
  }

  .solutions-grid-item {
    padding: 32px 24px;
    border: 24px;
  }

  .solutions-grid-text {
    position: relative;
    z-index: 2;
  }

  .solutions-grid-img {
    right: unset;
    left: -41px;
  }

  .solutions-grid-img:first-child {
    left: -25px;
  }

  .solutions-grid-img-container1 {
    left: -40px;
    -webkit-transform: translateY(67px);
        -ms-transform: translateY(67px);
            transform: translateY(67px);
  }

  .solutions-grid-img-container1 img {
    width: 306px;
    height: 276px;
    left: 65px;
  }

  .solutions-grid-img3 {
    display: block;
    left: -95px;
  }

  .solutions-grid-group {
    display: block;
    position: absolute;
    left: -32px;
    bottom: -20px;
  }

  .solutions-grid-img_mob {
    display: none;
  }

  .solutions-grid-img-container2 img:nth-child(1) {
    display: none;
  }

  .solutions-grid-img5 {
    bottom: -64px;
  }

  .found {
    justify-items: center;
  }

  .found__item {
    padding: 32px 24px;
    border-radius: 24px;
    height: 372px;
    width: 328px;
  }

  .found__image {
    width: 120px;
    height: 120px;
  }

  .found__item-text {
    margin-top: 24px;
  }

  .bg-black {
    border-radius: 40px !important;
    margin-top: 80px !important;
    padding: 80px 32px !important;
  }

  .slider-item {
    width: 316px;
    border-radius: 24px;
    padding: 24px 20px;
    padding-bottom: 249px;
  }

  .slider-item-title {
    margin-bottom: 8px;
  }

  .my-slider {
    padding-right: 16px;
  }

  .slick-track {
    gap: 8px;
  }
}